* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

.card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  height: 80px;
  width: 80px;
  background: white; /* Fondo blanco */
  border-radius: 8px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s, background 0.5s; /* Agregar transición para el color */
  color: transparent; /* Ocultar contenido inicial */
}

.rotate-card {
  transform: rotateY(180deg);
  color: #181a13;
}

.table {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(80px, 1fr)
  ); /* Ajuste dinámico de las columnas */
  grid-auto-rows: 80px; /* Fila fija de 80px */
  gap: 10px; /* Espacio entre las cartas */
  justify-content: center; /* Centrar las cartas */
  width: 100%; /* Ocupar el 100% del ancho disponible */
  max-width: 600px; /* Evitar que sobrepase el ancho del viewport */
  overflow: hidden; /* Ocultar las cartas que sobrepasen el ancho */
}

body {
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #6c0210,
    #501c00,
    #372100,
    #242004,
    #181a13
  );
  display: grid;
  align-content: center;
  justify-content: center;
}

button {
  background: #ce640e;
  color: #181a13;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background 0.5s;
  &:hover {
    background: #f1f1f1;
  }
}

.match-card {
  background: #f1f1f1;
  color: #181a13;
}

audio {
  opacity: 0;
  position: absolute;
}

.container--level {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  h1 {
    color: #f1f1f1;
    font-size: 24px;
    margin-bottom: 10px;
  }
  select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background: #f1f1f1;
    color: #181a13;
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .table {
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(8, 1fr);
  }
}

@media (max-width: 600px) {
  .table {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* Tres columnas en pantallas pequeñas */
    grid-template-rows: repeat(
      auto-fill,
      80px
    ); /* Ajustar las filas automáticamente */
  }
}
